PORT=3000
DB_URL=your-mongoDB-url
NODE_ENV=development

#jwt secret
JWT_ACCESS_SECRET=<your_secret>
JWT_ACCESS_EXPIRES=<time>
JWT_REFRESH_SECRET=<refresh_secret>
JWT_REFRESH_EXPIRES=<time>


# Bcrypt
BCRYPT_SALT_ROUND=<salt_round>

# Super Admin
SUPER_ADMIN_EMAIL=<your-super-admin-email>
SUPER_ADMIN_PASSWORD=<your-super-admin-password>

# Google
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>